<!doctype html>
<html lang="en" ng-app="listApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="./angular/angular.js"></script>
    <script src="common.js"></script>

</head>
<body ng-controller="listCtrl">

<ul>
    <li ng-repeat="item in items">{{item.item}}</li>
</ul>

<!--Однонаправленная привязка-->
<div>
    <input type="text" value="{{items[0].item}}" />
</div>
<!--Двунаправленная привязка-->
<div>
    <input ng-model="items[1].item" />
</div>
</body>
</html>